# really this is private to my build process
make/
common-lisp.net
.vcs
init-lisp.lisp
website/changelog.xml

# Test stuff
test/results/
test/tmp/
test/conf.d/
test/dir1/
test/dir2/


# We build these at various stages in the make process
LICENSE
website/output/
test-results/
tmp/
lift-local.config
*.dribble
*.fasl
*.dfsl 
*.cfsl 
*.fas 
*.lib
*.o
*.*fsl
