# really this is private to my build process
make/
common-lisp.net
.vcs
init-lisp.lisp
website/changelog.xml

# Test stuff
test/results/

# We build these at various stages in the make process
LICENSE
website/output/
test-results/
tmp/
lift-local.config
*.dribble
*.fasl
*.dfsl 
*.cfsl 
*.fas 
*.lib
*.o
