Source: cl-asdf
Section: devel
Priority: optional
Maintainer: Kevin M. Rosenberg <kmr@debian.org>
Build-Depends-Indep: debhelper (>> 4.0.0)
Standards-Version: 3.5.7.1

Package: cl-asdf
Architecture: all
Depends: ${shlibs:Depends}
Recommends: common-lisp-controller, cmucl-normal | lisp-compiler
Description: Another System Definition Facility
 asdf provides a "make" type functions for Common Lisp packages. It
 provides compilation and loading features for complex Lisp systems
 with multiple modules and files. It is similar in concept to, but
 with features different from, "defsystem" which is included in the
 common-lisp-controller package. Unlike defsystem3 in CLC, asdf is
 object-oriented and extensible.

Package: cl-cclan
Architecture: all
Depends: ${shlibs:Depends}, cl-asdf, cmucl-normal | lisp-compiler, common-lisp-controller
Description: Comprehensive Common Lisp Archive Network
 cclan is a tool for creating a repository of Common Lisp packages.
 cclan utilizes asdf to automatically create installable packages for various
 operating systems.
