#!/usr/bin/make -f
# MAde with the aid of dh_make, by Craig Small
# Sample debian/rules that uses debhelper. GNU copyright 1997 by Joey Hess.
# Some lines taken from debmake, by Cristoph Lameter.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

build: build-stamp
build-stamp:
	dh_testdir
	makeinfo asdf.texinfo
	makeinfo --html asdf.texinfo
	texi2pdf asdf.texinfo
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm asdf/*.html asdf.aux asdf.cp asdf.cps asdf.fn \
	   asdf.fns asdf.info asdf.ky asdf.log asdf.pdf asdf.pg \
           asdf.toc asdf.tp asdf.vr asdf.vrs  || true
	rmdir asdf || true
	dh_clean

# Build architecture-dependent files here.
binary-arch: build
# We have nothing to do by default.

# Build architecture-independent files here.
binary-indep: build
	dh_testdir
	dh_testroot
	dh_clean -k
	chmod +x test/run-tests.sh
	dh_installdirs
	dh_install
	dh_lisp
	dh_installdocs
	dh_installexamples
	dh_installchangelogs ChangeLog
	dh_link --verbose
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

source diff:                                                                  
	@echo >&2 'source and diff are obsolete - use dpkg-source -b'; false

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary
