#!/usr/bin/make -f
# GNU copyright 1997 to 1999 by Joey Hess.

pkg=cl-asdf
pkg-cclan=cl-cclan
clc-base=usr/share/common-lisp
clc-src=$(clc-base)/source
clc-systems=$(clc-base)/systems
asdf-files=$(clc-src)/asdf
cclan-files=$(clc-src)/cclan
doc-dir=usr/share/doc/$(pkg)

configure: configure-stamp
configure-stamp:
	dh_testdir
	# Add here commands to configure the package.
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	# Add here commands to compile the package.
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	# Add here commands to clean up after the build process.
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	# Add here commands to install the package into debian/asdf.
	dh_installdirs -p $(pkg) $(asdf-files) $(doc-dir)/examples
	dh_install -p $(pkg) asdf.lisp wild-modules.lisp asdf-install.lisp $(asdf-files)
	chmod +x test/run-tests.sh
	dh_install -p $(pkg) test/* $(doc-dir)/examples
	dh_installdirs -p $(pkg-cclan) $(clc-systems) $(cclan-files)
	dh_install -p $(pkg-cclan) cclan-package.lisp cclan.lisp cclan.asd $(cclan-files)
	dh_link -p $(pkg-cclan) $(cclan-files)/cclan.asd $(clc-systems)/cclan.asd

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
#	dh_installexamples
	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs ChangeLog
	find debian/cl-asdf -name CVS -print0 | xargs -0t rm -rf || true
	find debian/cl-asdf -name .cvsignore -print0 | xargs -0t rm -f || true
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
